@import '@/app/styles/helpers/_colors.scss';

.pw-bg-primary {
  background-color: $primary !important;
}
.pw-bg-primary {
  background-color: $primary !important;
}
.pw-bg-primary-gradient {
  background: $primary !important;
  background: $primary-gradient !important;
}
