@import '@/app/styles/helpers/_colors.scss';

.form-group {
  .dropdown {
    width: 100%; 

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: #fff;
      font-weight: 400;
      text-transform: unset;
      box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
      
      &.with-icon {
        padding: 10px 20px 10px 12px;

        i {
          color: #adb5bd;
          margin-right: 0.5rem;
        }
      }

      &:active {
        border-color: #f3f3f3 !important;
        background-color: #f3f3f3 !important;
      }
      &:hover {
        transform: translateY(0);
      }
    }
  }
}